.filters {
  font-family: $font-family-text;
  align-items: start;
  display: grid;
  grid-template-areas:
      "name"
      "dropdown"
      "typelist";
  

  &__name {
    grid-area: name;
    display: grid;
    grid-template-rows: 1fr 1fr;
    &__title {
      font-weight: bold;
    }
  }

  &__dropdown {
    grid-area: dropdown;
    display: grid;
    align-items: start;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "title"
      "select"
      "prompt";
    
    &__title {
      grid-area: title;
      font-weight: bold;
    }
    &__select {
      grid-area: select;
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-column-gap: 1em;
    }
    &__prompt {
      grid-area: prompt;
      color: $poke-scarlett-light;
      font-size: 0.75em;
      font-weight: bold;
      padding-top: 0.5em;
    }
  }

  &__typelist {
    grid-area: typelist;
    display: grid;
    grid-template-rows: 1fr;

    &__title {
      padding-bottom: 0.6em;
      font-weight: bold;
      &__ann {
        font-size: 0.5em;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: 4fr 1fr 1fr;
      justify-items: start;
      align-items: center;
      padding: 0.5em 1em;
      &__restrained, &__remove {
        cursor: pointer;
        &:hover {
          color: #fff; 
        }
      }
    }
  }

  @include media-tl-up {
    grid-template-rows: 3em 4.5em 1fr;
    grid-row-gap: 1em;
  }

  @include media-d {
    grid-row-gap: 1em;
    padding: 2em 1em;
  }

  @include media-tp-down {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2em;
    grid-template-areas:
      "name typelist"
      "dropdown typelist";
  }

}

/*
.filters {
  font-family: $font-family-text;
  display: grid;
  align-items: center;

  &__param {
    display: grid;
    grid-template-columns: 1fr;
  
    &-simple {
      grid-template-rows: 1fr 1fr;
    }
    &-compound {
      grid-template-rows: 1fr 1fr 1fr;
    }

    * {
      margin-bottom: 0.5rem;
    }

    &__title {
      font-weight: bold;
    }
  }

  @include media-tp-down {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 2em;
    grid-template-areas:
      "name selected"
      "type selected";
    align-items: start;

    &__name {
      grid-area: name;
    }
    &__type {
      grid-area: type;
    }

    &__selected {
      grid-area: selected;
    }
  }

  @include media-tl {
    font-size: 1.25em;
  }
  
  @include media-tl-up {
    grid-template-rows: 4em 4em 6em;
    grid-row-gap: 1em;
  }

  @include media-d {
    grid-row-gap: 1em;
    align-content: stretch;
    align-items: center; //start?
    height: 100%;
    padding: 2em 1em;

    &__param {
      display: grid;
      grid-template-columns: 1fr;
      //background: $poke-gold;
    
      &-simple {
        grid-template-rows: 1fr 1fr;
      }
      &-compound {
        grid-template-rows: 1fr 1fr 1fr;
      }
    }
  }
}
*/
