.pokedex-list {
  grid-area: list;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-auto-rows: 4em;
  padding: 1.5em;
  font-family: $font-family-text;

  @include media-d {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include media-tl {
    grid-template-columns: 1fr 1fr;
  }

  @include media-tp {
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(
      rgba($poke-scarlett-light, 0.3),
      $poke-black-bg 10%,
      $poke-black-bg 90%,
      rgba($poke-scarlett-light, 0.3) 100%
    );
  }

  @include media-mp {
    grid-template-columns: 1fr
  }


  @include media-tl-up {
    font-size: 1.25vw;
    grid-gap: 1.5em;
    background: linear-gradient(
      rgba($poke-scarlett-light, 0.3),
      $poke-black-bg 5%,
      $poke-black-bg 95%,
      rgba($poke-scarlett-light, 0.3) 100%
    );
  }

  @include media-tp-down {
    font-size: 1.25rem;
    grid-gap: 2em;
  }

  @include media-ml-down {
    font-size: 1.3rem;
  }


}
