.bg-green {
  background-color: green;
}

.list-pokemon {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1em 1em;
  grid-template-areas:
    "icon name"
    "icon regnum";
  align-content: center;
  padding: 0 1em;
  border: 1px solid $poke-scarlett-light;
  border-radius: 0.5em;

  &_hovered {
    &-false {
      background-color: rgba(0, 0, 0, 0);
    }
    &-true.type {
      @each $typeOne, $colorOne in $type-colors {
        @each $typeTwo, $colorTwo in $type-colors {
          &-#{$typeOne}-#{$typeTwo} {
            background: linear-gradient(
              150deg,
              rgba($colorOne, 0.6),
              rgba(0, 0, 0, 0) 30%,
              rgba(0, 0, 0, 0) 80%,
              rgba($colorTwo, 0.6)
            );
          }
        }

        &-#{$typeOne} {
          background: linear-gradient(
            120deg,
            rgba($colorOne, 0.6),
            rgba(0, 0, 0, 0) 25%
          );
        }
      }
    }
  }

  &__icon {
    grid-area: icon;
    align-self: center;
    justify-self: start;
  }

  &__name {
    grid-area: name;
    justify-self: end;
  }

  &__regnum {
    grid-area: regnum;
    justify-self: end;
  }
}

