.pokedex {
	display: grid;

	&__title {
		grid-area: title;
		display: grid;
		place-items: center;
	}


	@include media-tl {
		grid-template-columns: 1fr 2fr;
	}

	@include media-d {
		grid-template-columns: 1fr 3fr;
	}


	@include media-tl-up {
		grid-template-rows: 1fr 5fr;
		grid-gap: 2vw;
		grid-template-areas:
			"title title"
			"box list";

		&__title {
			font-size: 1.8em;
		}
	}	


	@include media-tp-down {
		grid-template-columns: 100%;
		grid-row-gap: 4vh;
		grid-template-areas:
			"title"
			"box"
			"list";
		
		&__title {
			font-size: 1.6em;
		}
	}

	
	@include media-tp {
		grid-template-rows: 5vh 20vh 1fr;
	}

	@include media-ml-down {
		grid-template-areas:
			"box"
			"list";
		&__title {
			font-size: 1em;
		}
	}

	@include media-ml {
		grid-template-rows: 10vh 1fr;
	}

	@include media-mp {
		grid-template-rows: 5vh 1fr;
	}

	
}