.pokedex {


	/* SCROLLBAR */
	// CHROME/SAFARI
	::-webkit-scrollbar {
		width: 0.5em;
		
		
		&-track {
			background-color: $poke-scarlett-light;
			width: 0.5em;
			//border-radius: 0.5rem 0;
		}

		&-thumb {
			background-color: $poke-scarlett-dark;
			border-radius: 0.5rem 0;
		}
	}

	//FIREFOX
	&__list {
		scrollbar-width: thin;
		scrollbar-color: $poke-scarlett-dark $poke-scarlett-light;
	}
	







	display: grid;

	& > * {
		
	}

	&__title {
		grid-area: title;
		display: grid;
		place-items: center;
	}

	&__box {
		grid-area: box;
		display: grid;
		border-radius: 1rem;
		border: 1px solid $poke-scarlett-light;
	}

	&__list {
		grid-area: list;
		display: grid;
		justify-items: center;
		place-items: center;
		border-radius: 1rem 0 0 1rem;
		border-width: 1px 0 1px 1px;
		//border-style: solid;
		border-color: $poke-scarlett-light;
		background-color: radial-gradient(rgba(white, 0.9), rgba(0, 0, 0, 0) 60%);
	}

	@include media-tl-up {
		grid-template-columns: 1fr 3fr;
		// tl:
		// grid-template-columns: 2fr 5fr;
		// grid-template-columns: minmax(min-content, 16vw) 3fr;
		grid-template-rows: 1fr 5fr;
		grid-gap: 2vw;
		grid-template-areas:
			"title title"
			"box list";

		&__title {
			font-size: 1.8rem;
			//padding-bottom: 2rem;
		}

		&__box {
			grid-template-rows: 1fr 2rem;
			//max-width: 16vw;
			justify-self: end;
			font-size: 1.25vw;
			// tl:
			// font-size: 1.75vw;

			&__description {
				padding: 12%;
				display: grid;
				justify-items: center;
				align-content: start;
				align-items: center;
				font-family: $font-family-text;
				grid-template-rows: auto 2em 2em 6em;
				grid-template-areas:
					"img img"
					"regnum name"
					"types types"
					"details details";

				&__img {
					//width: 100%;
					//max-width: 200px;
					grid-area: img;
					border: 0.1em groove $poke-scarlett-light;
					border-radius: 1em;
					padding: 1em;
					& > img {
						width: 100%;
					}
				}

				&__regnum {
					grid-area: regnum;
					justify-self: start;
				}

				&__name {
					grid-area: name;
					justify-self: end;
					font-weight: bold;
				}

				&__types {
					grid-area: types;
				}

				&__details {
					grid-area: details;
				}

			}

			&__filters {
				border-top: 1px solid $poke-scarlett-light;
				display: grid;
				align-content: center;
			}
		}

		
		

		&__list {
			font-size: 1.25vw;
			overflow-y: scroll;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-auto-rows: 4em;
			grid-gap: 1.5em;
			justify-items: stretch;
			align-items: stretch;
			padding: 1.5em;
			font-family: $font-family-text;

			

			&__pokemon {
				display: grid;
				grid-template-columns: auto 1fr;
				grid-template-rows: 1em 1em;
				grid-template-areas:
					"icon name"
					"icon regnum";
				align-content: center;
				padding: 0 1em;
				border: 1px solid $poke-scarlett-light;
				border-radius: 0.5em;

				&__icon {
					grid-area: icon;
					align-self: center;
					justify-self: start;
				}

				&__name {
					grid-area: name;
					justify-self: end;
				}

				&__regnum {
					grid-area: regnum;
					justify-self: end;
				}

			}

		}

	}




	@include media-tp {

		&__title {
			font-size: 1.6rem;
			//padding: 2rem 0;
		}
	}

	@include media-ml-down {

		&__title {
			font-size: 1.3rem;
			//padding: 2rem 0;
		}
	}

}