.filters {
  font-family: $font-family-text;
  align-items: start;
  display: grid;  

  &__name {
    grid-area: name;
    display: grid;
    grid-template-rows: 1fr 1fr;
    &__title {
      font-weight: bold;
    }
  }

  

  &__typelist {
    grid-area: typelist;
    display: grid;
    grid-auto-rows: 2em;
    height: 100%;

    &_strict{
      &-true {
        background: rgba($poke-scarlett-dark, 0.8);
        border-radius: 2em;
      }
    }

    &__title {
      padding: 0.5em 0;
      font-weight: bold;
      &__ann {
        font-size: 0.5em;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: 4fr 1fr;
      justify-items: start;
      align-items: center;
    }
  }

  &__strict {
    grid-area: strict;
  }

  &__clear {
    grid-area: clear;
  }

  @include media-tl-up {
    grid-template-rows: 3em 4em 10em 2em;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-template-areas:
    "name name"
    "dropdown dropdown"
    "typelist typelist"
    "clear strict";

    &__typelist {
      &__list {
        padding: 0.5em 1em;
      }
    }
  }

  @include media-d {
    grid-row-gap: 1em;
    padding: 1em;
    
    &__typelist__list {
      &__restrained, &__remove {
        cursor: pointer;
        &:hover {
          color: #fff; 
        }
      }
    }
  }

  @include media-tp-down {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4em 5em 1fr;
    grid-column-gap: 2em;
    grid-template-areas:
      "name typelist"
      "dropdown typelist"
      "clear strict";

    &__typelist {
      grid-row-gap: 0.75em;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1.5em;
      grid-template-areas: "title title";
      padding: 0 0.5em;

      &__title {
        grid-area: title;
      }
      &__list {
        justify-items: center;
        border: 1px solid #df4f4f;
        border-radius: 1em;
      }
    }
  }

}

/*
.filters {
  font-family: $font-family-text;
  display: grid;
  align-items: center;

  &__param {
    display: grid;
    grid-template-columns: 1fr;
  
    &-simple {
      grid-template-rows: 1fr 1fr;
    }
    &-compound {
      grid-template-rows: 1fr 1fr 1fr;
    }

    * {
      margin-bottom: 0.5rem;
    }

    &__title {
      font-weight: bold;
    }
  }

  @include media-tp-down {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 2em;
    grid-template-areas:
      "name selected"
      "type selected";
    align-items: start;

    &__name {
      grid-area: name;
    }
    &__type {
      grid-area: type;
    }

    &__selected {
      grid-area: selected;
    }
  }

  @include media-tl {
    font-size: 1.25em;
  }
  
  @include media-tl-up {
    grid-template-rows: 4em 4em 6em;
    grid-row-gap: 1em;
  }

  @include media-d {
    grid-row-gap: 1em;
    align-content: stretch;
    align-items: center; //start?
    height: 100%;
    padding: 2em 1em;

    &__param {
      display: grid;
      grid-template-columns: 1fr;
      //background: $poke-gold;
    
      &-simple {
        grid-template-rows: 1fr 1fr;
      }
      &-compound {
        grid-template-rows: 1fr 1fr 1fr;
      }
    }
  }
}
*/
