.menu {
	position: fixed;

	// Menu Bar @tp-down
	@include media-tp-down {
		top: 0;
		left: 0;
		width: 100%;

		&__title {
			position: relative;
			z-index: 10;
			height: 4em;
			display: grid;
			grid-template-columns: 1fr 6fr 1fr;
			grid-template-areas: ". text toggle";
			place-items: center;
			background-color: $poke-scarlett-dark;

			&__text {
				grid-area: text;
			}

			&__toggle {
				grid-area: toggle;
				padding: 0.5em;
			}
		}

		&__contents {
			position: relative;
			z-index: 5;
			background-color: rgba($poke-scarlett-dark, 0.9);
			border-radius: 0 0 1em 1em;

			&_toggle-enter-active, &_toggle-leave-active {
			  transition: transform 0.5s ease-in-out;
			}

			&_toggle-enter, &_toggle-leave-to {
			  transform: translateY(-100%);
			}
		}
	}

	@include media-ml-down {
		&__title {
			height: 3em;
		}
	}

	// Menu Bar @tl-up
	@include media-tl-up {
		top: 0;
		left: 80%;
		width: 20%;
		height: 100vh;
		display: grid;
		grid-template-rows: 1fr 4fr 1fr;
		grid-template-areas:
			"title"
			"contents"
			".";
		place-items: center;
		background-color: $poke-scarlett-dark;

		&__title {
			grid-area: title;
		}

		&__contents {
			grid-area: contents;
			margin: 0 1em;
		}
	}

}