.pokebtn {
	border-width: 0.25em;
	border-style: solid;
	border-radius: 1em;
	color: white;

	&-active {
		background: rgba($poke-scarlett-mid, 0.1);
		border-color: rgba($poke-scarlett-mid, 0.8);
	}
	&-inactive {
		background: rgba($poke-scarlett-mid, 0.1);
		border-color: rgba($poke-scarlett-mid, 0.4);
		color: rgba($poke-scarlett-mid, 0.3)
	}

	&-off {
		background: rgba($poke-scarlett-mid, 0.1);
		border-color: rgba($poke-scarlett-mid, 0.1);
		@include media-d {
			&:hover {
				transition: background ease 0.5s;
				background: rgba($poke-scarlett-mid, 0.8);
			}
		}
	
	}

	&-on {
		background: rgba($poke-scarlett-mid, 0.8);
		border-color: rgba($poke-scarlett-mid, 0.8);
	}
}