// FONT FAMILIES
@import url('https://fonts.googleapis.com/css?family=Audiowide|Iceland|Gruppo');
$font-family-main: 'Audiowide', serif;
$font-family-text: 'Gruppo', sans-serif;


// MEDIA QUERIES
// m:mobile - t:tablet - d:desktop - p:portrait - l:landscape
$mq-mp: screen and (max-width: 425px);
$mq-ml: screen and (min-width: 426px) and (max-width: 767px);
$mq-tp: screen and (min-width: 768px) and (max-width: 991px);
$mq-tl: screen and (min-width: 992px) and (max-width: 1199px);
$mq-d: screen and (min-width: 1200px);

$mq-ml-up: screen and (min-width: 426px);
$mq-tp-up: screen and (min-width: 768px);
$mq-tl-up: screen and (min-width: 992px);

$mq-ml-down: screen and (max-width: 767px);
$mq-tp-down: screen and (max-width: 991px);
$mq-tl-down: screen and (max-width: 1199px);



// FONT TYPES
$font-title: 38px 'Audiowide';
$font-subtitle: 26px 'Gruppo';


// COLORS
$poke-black-bg: rgb(31, 31, 31);
$poke-scarlett-dark: rgb(79, 31, 31);
$poke-scarlett-mid: rgb(111, 31, 31);
$poke-scarlett-light: rgb(223, 79, 79);
$poke-gold-dark: rgb(71, 63, 23);
$poke-gold: rgb(143, 143, 63);

$other-blue: rgb(44, 62, 80);

// Types Colors
$type-colors: (
    normal: #aaa,
    fighting: #711,
    flying: #78c,
    poison: #616,
    ground: #b95,
    rock: #750,
    bug: #560,
    ghost: #42a,
    steel: #77a,
    fire: #c21,
    water: #06d,
    grass: #2a4,
    electric: #d90,
    psychic: #c39,
    ice: #9cf,
    dragon: #31f,
    dark: #433
);