.pokemon-data {
	font-family: $font-family-text;
	display: grid;

	&_types {
		@each $type1, $color1 in $type-colors {
			&-#{$type1} {
				color: $color1;
				//@each $type2, $color2 in $type-colors {
				//	&-#{$type2} {
				//		background: linear-gradient(-60deg, $color1 65%, $color2 75%);
				//		background-clip: text;
				//		-webkit-background-clip: text;
				//		-webkit-text-fill-color: transparent;
				//	}
				//}
			}
		}
	}

	&__stats {
		display: grid;
		grid-area: stats;
		justify-content: stretch;
		justify-items: center;
		align-content: stretch;
		grid-template-rows: 3em repeat(6, 1fr);
		grid-row-gap: 0.75em;
	
		&__title {
			font-family: $font-family-main;
			font-size: 1.5em;
		}
	}
		

	&__img {
		grid-area: img;
		display: grid;
    	justify-items: center;
    	align-items: center;
		& > img {
			width: 80%;
		}
	}


	&__moves {
		grid-area: moves;
		display: grid;
		font-size: 3em;
		font-weight: bold;
	}


	@include media-mp {
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"img"
			"summary"
			"stats"
			"moves";
	}

	@include media-ml-up {
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"summary img"
			"stats stats"
			"moves moves";
	}

	@include media-tl-up {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-row-gap: 2em;
		grid-template-areas:
			"stats stats stats stats img img"
			"moves moves moves moves summary summary";
	}
}